/* Global */
* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
    color: #212121;
    list-style: none;
    text-decoration: none;
}

/* Nav Bar - Global */
nav {
	position: fixed;
	z-index: 3;
	width: 100%;
	
	height: 112px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(33, 33, 33, .1);
}

/* Nav Bar - Logo */
nav .logo {
    float: left;
    display: flex;
	align-items: center;
    margin-left: 128px;
    height: 100%;
}

nav .logo .logoBadge { filter: drop-shadow(0 2px 3px rgba(55, 146, 193, .5)); }

nav .logo .logoText {
    padding-left: 12px;

    font-size: 24px;
    font-weight: 700;
}

/* Nav Bar - Pages */
nav .pages {
	float: right;
    display: flex;
    align-items: center;
	margin-right: 128px;
	height: 100%;
}

nav .pages a {
    margin-left: 64px;
    font-size: 24px;

    transition: all .25s ease;
}

nav .pages a:hover, nav .pages a #active { color: rgb(55, 146, 193);}

/* Nav Bar - Menu */
#navToggle { display: none; }

nav .menu {
	display: none;
	position: absolute;
	right: 64px;
	top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
}

nav .menu .menuLine {
	width: 30px;
	height: 2px;
	margin: 6px;
    border-radius: 3px;
    background-color: #212121;
	transition: all .25s ease;
}

/* Responsive */
@media screen and (max-width: 1300px) {
    /* Nav Bar - Global */
    nav { height: 82px; }

    /* Nav Bar - Logo */
    nav .logo { margin-left: 88px; }

    /* Nav Bar - Pages */
    nav .pages { margin-right: 88px;}
}

@media screen and (max-width: 1100px) {
    /* Nav Bar - Logo */
	nav .logo { margin-left: 48px; }
    
    /* Nav Bar - Pages */
	nav .pages {
		position: fixed;
		z-index: 2;
		top: 82px;
		bottom: 100%;
		width: 100vw;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.75);
		transition: all .25s ease;
    }
    
	nav .pages a {
        margin: 0;
        font-size: 24px;
	}

    /* Nav Bar - Menu */
	nav .menu {
        display: block;
        right: 48px;
    }

    nav :checked ~ .pages { bottom: 0; }
    
    /* Nav Bar - Menu Button Animation */
	nav :checked ~ .menu .menuLine:nth-child(1) { transform: translateY(8px) rotate(45deg); }
    
    nav :checked ~ .menu .menuLine:nth-child(2) { opacity: 0; }
    
	nav :checked ~ .menu .menuLine:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }
	
}

@media screen and (max-width: 800px) {
    /* Nav Bar - Logo */
    nav .logo { margin-left: 48px; }

    /* Nav Bar - Menu */
    nav .menu { right: 48px; }
}